<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 text-white">
        <div class="nav text-blue-600 ml-5 ">
            <a href="/">Back to Home</a>
        </div>
        <h1 class="text-3xl tracking-tighter ml-5 py-4">All Users</h1>
        <div class="users flex gap-3 flex-wrap">
            <% if(users.length > 0){ %>
                <% users.forEach(function(user){ %>
                    <div class="user w-72 p-5 bg-zinc-800 rounded-lg">
                        <div class="w-full h-52 rounded-lg bg-zinc-600 overflow-hidden">
                            <img class="w-full h-full object-cover" src="<%= user.image %>" alt="">
                        </div>
                        <h3 class="text-xl mt-3  tracking-tighter "><%= user.name %></h3>
                        <h5 class="text-zinc-500"><%= user.email %></h5>
                        <div class="flex gap-3 mt-2">
                            <a class="text-blue-600" href="/edit/<%= user._id%>"> Edit User</a>
                            <a class="text-red-600" href="/delete/<%= user._id %>"> Delete User</a>
                        </div>
                    </div>
                <% }) %>

            <% } else { %>
                
                <h2 class="m-5 bg-zinc-600 mt-5">No Users</h2>
            <%    }%>
            
        </div>
    </div>
</body>
</html>
            
            
        
